<!DOCTYPE html> <html lang="en"> 

<div data-tf-widget="SGDAeWpx" data-tf-iframe-props="title=Registration Form" data-tf-medium="snippet" style="width:100%;height:60em;"></div>
<script src="//embed.typeform.com/next/embed.js"></script>


<a type="button" class="btn btn-lg btn-primary" href="https://filo-hackbu22.herokuapp.com/welcome/information"<span class="glyphicon glyphicon-flash"></span> Get Started </a>

</html>

