<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Filo</h1>
    <p>Covid budgeting, your one stop shop to success.</p>
    
    <ul class = "verticalButtons">
      <li class = "buttonSpacing">
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/SenihOk/HackBU22"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      </li>

      <li class = "buttonSpacing">
      <a type="button" class="btn btn-lg btn-primary" href="https://filo-hackbu22.herokuapp.com/welcome/getstarted"> <span class="glyphicon glyphicon-send"></span> Get started </a>
      </li>
    </ul>
    <h3 style="text-align:center;">Coded By<br> Christopher, Senih, Shaun</h3>
    <ul class = "staff_pic">
      <img src="<%= asset_path('bingham.png') %>", class = "staff_pic"> <img src="<%= asset_path('senih.png') %>", class = "staff_pic"> <img src="<%= asset_path('shaun.png') %>", class = "staff_pic">
    </ul>
  </div>
 </div>
