<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Filo</h1>
    <p>Covid budgeting, your one stop shop to success.</p>
    
    <ul class = "verticalButtons">
      <li class = "buttonSpacing">
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/SenihOk/HackBU22"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      </li>

      <li class = "buttonSpacing">
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/SenihOk/HackBU22"><span class="glyphicon glyphicon-play"></span> Lets begin!</a>
      </li>
    </ul>

  </div>
 </div>
