<!DOCTYPE html>
<html> 

<head>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
</div>
</nav>
</head>

<body class = "infoClass"> 
    <h1 style="text-align:center;"> Informational Links <span class = "glyphicon glyphicon-piggy-bank"> </span> <h1>

    <div class="row">
    <div class="column">
        <div>
        
        </div>
    </div>
    <div class="column">
        <div>

        </div>
    </div>
    <div class="column">
        <div>

        </div>
    </div>
    </div>

    <div style = "text-align:center">
    <a type="button" class="btn btn-lg btn-primary" href="https://filo-hackbu22.herokuapp.com/welcome/information"<span class="glyphicon glyphicon-flash"></span> Interactive Advice </a>
    </div>

</body>

</html>