<!DOCTYPE html>
<html> 

<head>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
</div>
</nav>
</head>

<body class = "infoClass"> 
    <h1 style="text-align:center;"> Informational Links <span class = "glyphicon glyphicon-piggy-bank"> </span> <h1>

    <div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Column 3</h2>
        <p>Some text..</p>
    </div>
    </div>
    
</body>

</html>