<!DOCTYPE html>
<html lang="en_US" dir="ltr" class="example"> 

<head>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://filo-hackbu22.herokuapp.com/welcome/minigame"><span class="glyphicon glyphicon-home"></span> Interactive</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
</div>
</nav>
</head>

<body class = "infoClass"> 
    <h1 style="text-align:center;"> Informational Links <span class = "glyphicon glyphicon-piggy-bank"> </span> <h1>

    <div class="row">
    <div class="column" style="background:#ffffff">
    
        <h2 style="color:#000000">Job Help</h2>
        <ul style="text-align:center;">
            <li>
                <a href="https://www.linkedin.com/jobs">Linkedin Job Board</a>
            </li>

            <li>
                <a href="https://www.binghamton.edu/ccpd/student-employment/index.html">Part-time Student Jobs</a> 
            </li>

            <li>
                <a href="https://www.binghamton.edu/ccpd/documents/qrg-resources/effective-interviewing-rvs.pdf">Interview Advice</a>
            </li>

            <li>
                <a href="https://www.google.com/">Link 4</a>
            </li>

            <li>
                <a href="https://www.google.com/">Link 5</a>
            </li>

            <li>
                <a href="https://www.google.com/">Link 6</a>
            </li>
        </ul>
        
    </div>
    <div class="column">
        <div>

            <h2 style="color:#000000">Job Help</h2>
            <ul style="text-align:center;">
                <li>
                    <a href="https://www.linkedin.com/jobs">Linkedin Job Board</a>
                </li>

                <li>
                    <a href="https://www.binghamton.edu/ccpd/student-employment/index.html">Part-time Student Jobs</a> 
                </li>

                <li>
                    <a href="https://www.binghamton.edu/ccpd/documents/qrg-resources/effective-interviewing-rvs.pdf">Interview Advice</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 4</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 5</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 6</a>
                </li>
            </ul>
        
        </div>
    </div>
    <div class="column">
        <div>
            <h2 style="color:#000000">Job Help</h2>
            <ul style="text-align:center;">
                <li>
                    <a href="https://www.linkedin.com/jobs">Linkedin Job Board</a>
                </li>

                <li>
                    <a href="https://www.binghamton.edu/ccpd/student-employment/index.html">Part-time Student Jobs</a> 
                </li>

                <li>
                    <a href="https://www.binghamton.edu/ccpd/documents/qrg-resources/effective-interviewing-rvs.pdf">Interview Advice</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 4</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 5</a>
                </li>

                <li>
                    <a href="https://www.google.com/">Link 6</a>
                </li>
            </ul>
        
        </div>
    </div>
    </div>

    

</body>

</html>