<!DOCTYPE html>
<html lang="en_US" dir="ltr" class="example"> 

<head>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://filo-hackbu22.herokuapp.com/welcome/minigame"><span class="glyphicon glyphicon-education"></span> Interactive</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
</div>
</nav>
</head>


    <h1 style="text-align:center; padding:40px;"> Informational Links <span class = "glyphicon glyphicon-piggy-bank"> </span> <h1>
<body class = "infoClass"> 
    <h2 style="text-align:center; color: white;"> </h2>
<table>
<colgroup>
    <col style="color: white; width: 20em; margin-left: auto; margin-right: auto;">
</colgroup>
  <tr style="title">
    <td>Career Help</td>
    <td>Finance Help</td>
  </tr>
  <tr>
    <td> <a href="https://www.linkedin.com/jobs">Linkedin Job Board</a> </td>
    <td> <a href="https://www.chase.com/personal/banking/education">Chase Personal Banking and Budgeting</a> </td>
  </tr>
  <tr>
    <td> <a href="https://www.binghamton.edu/ccpd/student-employment/index.html">Part-time Student Jobs</a>  </td>
    <td> <a href="https://studentaid.gov/">FAFSA Application</a> </td>
  </tr>
  <tr> 
    <td> <a href="https://www.binghamton.edu/ccpd/documents/qrg-resources/effective-interviewing-rvs.pdf">Interview Advice</a> </td>
    <td> <a href="https://www.binghamton.edu/financial-aid/resources/">Binghamton Financial Aid Services</a> </td>
  </tr>
  <tr>
    <td> <a href="https://www.vmock.com/">Vmock Resume Builder</a> </td>
    <td> <a href="https://mint.intuit.com/blog/budgeting/tips/"> Mint Budgeting Tips</a> </td>
  </tr>
<<<<<<< HEAD
</table> 
=======

</table>
    <div>
        <li>
            
        </li>

        <li>
            
        </li>

        <li>
            
        </li>
        <li>
            
        </li>
    </div>
    <div>
        <li>
            
        </li>

        <li>
            
        </li>
    </div>

    <div style="background-color: transparent"><video autoplay="" loop="" style="width: 100%; cursor: pointer;"><source src="piano.mp4" type="video/mp4"></video></div>
 

    
>>>>>>> 30ba7b6c0d84eb79e54a71e72ae7294082becddb

</body>

</html>