$brand-primary: #053B09;
$brand-language: #000000;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding: 10em 5em 100em 5em;
  margin: 0px;
  //font-family: Arial, Helvetica, sans-serif;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
    width: 200px;
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -50px;
  }

  .filo-logo {
    display: block;
    //background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

  .staff_pic {
    border-radius: 50%;
    width: 200px;
    height: 250px;
    object-fit: scale-down;
    border: 2px solid white;
    background-color: black;

  }

  rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
}

.horizontalCover {
  padding-left: 50%;
  padding-right: 50%;
  height: 20%;
  background:rgba(59, 151, 87, 0.644);
}

.verticalButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.buttonSpacing {
  margin: 1em;
}

.infoClass {
  background-color: rgb(59, 151, 87);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px; 
  height: 15em;
}