$brand-primary: #25384e;
$brand-language: #02aab0;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding: 10em 5em 100em 5em;
  margin: 0px;
  //font-family: Arial, Helvetica, sans-serif;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
    width: 200px;
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -50px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }
  
  .staff_pic {
    width: 150px;
    height: 150px;
    object-fit: contain;

  }

}

.verticalButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.buttonSpacing {
  margin: 1em
}
