$brand-primary: #053B09;
$brand-language: #000000;

.jumbotron {
  background: $brand-primary;
  color: white;
  position:relative;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  //font-family: Arial, Helvetica, sans-serif;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    //&:hover {
    //  background: lighten($brand-primary, 15%);
    //}
    width: 200px;
    height: height;
    transition: width 0.2s, background-color 0.2s ;
  }
  .btn-primary:hover {
    width: 210px;
    height: (height + 10px);
    background-color: lighten($brand-primary, 25%);
  }

  p {
    color: lighten(white, 10%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -50px;
  }

  .filo-logo {
    display: block;
    background: lighten($brand-primary,15%);
    border-radius: 20%;
    border: 2px solid lighten($brand-primary,20%);
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    img {
      max-width: 100%;
    }
  }



  .staff_pic {
    border-radius: 50%;
    width: 150px;
    height: 250px;
    object-fit: cover;
    border: 2px solid white;
    background-color: black;
    margin: 2em;

  }

  .rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
}

#creators{
  background: $brand-primary;
  width: 100vw;
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.horizontalCover {
  padding-left: 50%;
  padding-right: 50%;
  height: 20%;
  background:rgba(59, 151, 87, 0.644);
}

.verticalButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.buttonSpacing {
  margin: 1em;
}

.infoClass {
  background-color: $brand-primary;
  border-radius: 9%;
}

.column {
  width: 29%;
  padding: 1px; 
  margin: 1em;
  height: 12em;
  border-radius: 9%;
}
